@import "tailwindcss";

@import "tailwindcss";

@theme inline {
  --color-background: #050505;
  --color-foreground: #fdfbf7;
  --color-muted: #a1a1aa;
  --color-muted-foreground: #71717a;
  
  --color-brand: #e11d48;
  --color-brand-hover: #be123c;
  
  --color-surface: rgba(255, 255, 255, 0.03);
  --color-surface-hover: rgba(255, 255, 255, 0.05);
  
  --color-border: rgba(255, 255, 255, 0.08);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  body {
    @apply bg-[var(--color-background)] text-[var(--color-foreground)] antialiased selection:bg-brand selection:text-white;
  }
}
